{% extends "layout/layout.html" %}
{% block title %}ການຈັດການອັດຕາແລກປ່ຽນ{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<br>
<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <div class="card">
              <div class="card-header">
                ບັນທຶກອັດຕາແລກປ່ຽນ
              </div>
              <div class="card-body">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">ເລືອກສະກຸນເງິນ</label>
                  <select class="form-control" id="code" name="trans_type" onchange="myFunction()">
                    <option selected> ເລືອກ....</option>
                    <option value="01">ບາດ</option>
                    <option value="02">ໂດລາ</option>
                    <option value="03">ບາດ-ໂດລາ</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect1">ອັດຕາແລກປ່ຽນຊື້</label>
                  <input class="form-control" type="number" value="0" required name="system_charge">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect1">ອັດຕາແລກປ່ຽນຂາຍ</label>
                  <input class="form-control" type="number" value="0" required name="system_charge">
                </div>
                <button type="submit" class="btn btn-primary form-control">ບັນທຶກ</button>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <table class="table table-dark table-sm table-hover">
              <thead>
                <tr>
                  <th scope="col">ວັນທີ</th>
                  <th scope="col">ລະຫັດສະກຸນເງິນ</th>
                  <th scope="col">ຊື່ສະກຸນເງີນ</th>
                  <th scope="col">ອັດຕາແລກປ່ຽນຊື້</th>
                  <th scope="col">ອັດຕາແລກປ່ຽນຂາຍ</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}