{% extends "layout/layout.html" %}
{% block title %}ການຈັດການອັດຕາແລກປ່ຽນ{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<br>
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="form-group">
              <label for="exampleFormControlSelect1">ຄ່າທຳນຽມ</label>
              <input class="form-control" type="number" value="0" required name="system_charge">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">ຄ່າທຳນຽມ</label>
              <input class="form-control" type="number" value="0" required name="system_charge">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">ຄ່າທຳນຽມ</label>
              <input class="form-control" type="number" value="0" required name="system_charge">
            </div>
          </div>
          <div class="col-sm">
            One of three columns
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}