{% extends "layout/layout.html" %}
{% block title %}ບໍລິສັດຂ້າມຂອງ{% endblock %}
{% block head %}
<style>
  /* .modal-dialog {

 width:1080px;

  } */

  .modal-header {

    background-color: #337AB7;

    padding: 16px 16px;

    color: #FFF;

    border-bottom: 2px dashed #337AB7;

  }

  /* 
  .bigModal {
    width: 1080px;
  } */
</style>
{{ super() }}
{% endblock %}
{% block content %}
<br>
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <center>
        <h4 style="font-weight: bold; color: white;">
          ການເຄື່ອນໃຫວການການໂອນ
        </h4>
      </center>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <center>
          <strong>{{ message }}</strong>
        </center>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <script>
        $(".alert-dismissible").fadeTo(2000, 500).fadeOut(500, function () {
          $(".alert-dismissible").alert('close');
        });
      </script>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>
    <div class="card-body" style="background-color:darkcyan;">
      <div class="row">
        <div class="col-sm-3">
          <div class="card">
            <div class="card-header">
              <center>
                ການເຄື່ອນໃຫວການການໂອນ
              </center>
            </div>
            <div class="card-body" style="background-color:darkslategrey;">
              <button type="button" class="btn btn-primary form-control" data-toggle="modal"
                data-target="#exampleModalCenter">
                ໂອນເງິນ ລາວ-ໄທ
              </button>
              <hr>
              <button type="button" class="btn btn-primary form-control" data-toggle="modal"
                data-target="#exampleModalCenter">
                ໂອນເງິນ ໄທ-ລາວ
              </button>
              <!-- Modal -->
              <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                  <div class="modal-content" style="width: 1500px;">
                    <form action="/save_trans" method="post">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">
                          <b>
                            ໂອນເງິນ
                          </b>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="container">
                          <center>
                            <h6>
                              <b>
                                ເງື່ອນໃຂການໂອນຕົ້ນທາງ
                              </b>
                            </h6>
                          </center>
                          <hr>
                          <hr>
                          <div class="row">
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">ສະກຸນເງິນ</label>
                                <select class="form-control form-control-sm" id="currency_code" name="currency_code"
                                  onchange="show_rate()">
                                  <option value="01">ກີບ</option>
                                  <option value="00" selected>ບາດ</option>
                                  <option value="03">ໂດລາ</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">ເງິນສົດ</label>
                                <input class="form-control form-control-sm" type="number" placeholder="0" required
                                  name="account_code" style="text-align: right;" onchange="sum_paybycash();"
                                  id="cash_value">
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">Rate</label>
                                <input class="form-control form-control-sm" type="number" name="rate_con"
                                  style="text-align: right;" id="rate_con" readonly value="1">
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">ມູນຄ່າບາດ</label>
                                <input class="form-control form-control-sm" type="number" name="total_baht"
                                  style="text-align: right;" id="total_baht" value="0" onchange="sum_back()">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">ທະນາຄານຕົ້ນທາງ</label>
                                <select class="form-control form-control-sm" id="bank_from" name="bank_from" required
                                  onchange="bank_ft()">
                                  <option value="kv" selected> ເລືອກ....</option>
                                  {% for item in bank_from %}
                                  <option value="kv">{{item[0]}}</option>
                                  {% endfor %}
                                </select>
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">ມູນຄ່າ</label>
                                <input class="form-control form-control-sm" type="number" placeholder="0"
                                  name="account_code" required style="text-align: right;" id="bank_amount" value="0"
                                  onchange="sum_paybybank();">
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">rate</label>
                                <input class="form-control form-control-sm" type="number" placeholder="0"
                                  name="bank_rate" required style="text-align: right;" id="rate_bank">
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">ມູນຄ່າບາດ</label>
                                <input class="form-control form-control-sm" type="number" placeholder="0"
                                  name="account_code" required style="text-align: right;" id="total_bank_amount">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-3">
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">ຄ່າບໍລິການ</label>
                                <input class="form-control form-control-sm" type="number" placeholder="0" value="0"
                                  name="account_code" required style="text-align: right;" id="service_charge"
                                  onchange="sum_paybycash();">
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">ຄ່າທຳນຽມ</label>
                                <input class="form-control form-control-sm" type="number" placeholder="0" value="0"
                                  onchange="sum_paybycash();" name="account_code" required style="text-align: right;"
                                  id="fee">
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">ມູນຄ່າ</label>
                                <input class="form-control form-control-sm" type="number" placeholder="0"
                                  name="account_code" required style="text-align: right;" id="total_amount">
                              </div>
                            </div>
                          </div>
                          <hr>
                          <center>
                            <h6>
                              <b>
                                ເງື່ອນໃຂການໂອນປາຍທາງ
                              </b>
                            </h6>
                          </center>
                          <hr>
                          <div class="row">
                            <div class="col-sm-5">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">ເລືອກທະນາຄານປາຍທາງ</label>
                                <select class="form-control form-control-sm" id="to_bank" name="bank_to" required
                                  onchange="bank_tt()">
                                  <option selected> ເລືອກ....</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">ລວມມູນຄ່າທີ່ປາຍທາງໃດ້ຮັບ</label>
                                <input class="form-control form-control-sm " type="number" placeholder="0"
                                  name="total_pays" style="text-align: right;" value="0" id="total_pays">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">ອອກ</button>
                        <button type="submit" class="btn btn-primary">ບັນທຶກ</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="card">
            <div class="card-header">
              <center>
                ສະແດງລາຍການເຄື່ອນໃຫວ
              </center>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover table-sm table-hover" id="myTable">
                  <thead>
                    <tr>
                      <th scope="col">ວັນທີ</th>
                      <th scope="col">ປະເພດການໂອນ</th>
                      <th scope="col">ຈາກ</th>
                      <th scope="col">ຫາ</th>
                      <th scope="col">ຊື່ບັນຊີ</th>
                      <th scope="col">ເລກບັນຊີ</th>
                      <th scope="col">ຍອດເງິນ</th>
                      <th scope="col">ຄ່າບໍລິການ</th>
                      <th scope="col">ຄ່າທຳນຽມປ່າຍທາງ</th>
                      <th scope="col">ລວມທັງໝົດ</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in all_rate %}
                    <tr>
                      <th style="text-align: left;">{{item[0]}}</th>
                      <td style="text-align: left;">{{item[1]}}</td>
                      <td style="text-align: left;">{{item[2]}}</td>
                      <td style="text-align: left;">{{item[3]}}</td>
                      <th style="text-align: left;">{{item[4]}}</th>
                      <td style="text-align: right;">{{item[5]}}</td>
                      <td style="text-align: right;">{{item[6]}}</td>
                      <td style="text-align: right;">{{item[7]}}</td>
                      <td style="text-align: right;">{{item[8]}}</td>
                      <td style="text-align: right;">{{item[9]}}</td>
                      <td><a href="#" onclick="deleteitem({{item[10]}})"><i class="bi bi-trash-fill"
                            id="bitrash"></i></a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById("rate_bank").readOnly = true;
  // document.getElementById("cash_value").readOnly = true;
  document.getElementById("rate_con").readOnly = true;
  // document.getElementById("total_baht").readOnly = true;
  document.getElementById("bank_amount").readOnly = true;
  // function myFunction() {
  //   var x = document.getElementById("code").value;
  //   if (x == '01') {
  //     document.getElementById("cash_value").readOnly = false;
  //     // document.getElementById("rate_con").readOnly = false;
  //     document.getElementById("total_baht").readOnly = false;
  //     document.getElementById("bank_from").value = 'BCEL'
  //     bank_from.innerHTML = "<option  value='kv' selected> ເລືອກ....</option><option value='01'>BCEL ກີບ</option><option value='00'>BCEL ບາດ</option><option value='03'>BCEL ໂດລາ</option>"
  //     to_bank.innerHTML = "<option selected> ເລືອກ....</option><option value='SCB'>SCB ໄທພານິດ </option><option value='KB'>KB ກະສີກອນໄທ</option><option value='KTB'> KTB ກຸງເທບ</option><option value='BBL'>BBL ກຸງເທບ</option><option value='BAY'>BAY ກຸງສີ</option><option value='TMB'>TMB ທະຫານໄທ</option>"
  //     currency_code.innerHTML = "<option value='01'>ກີບ</option><option value='00'selected >ບາດ</option> <option value='03'>ໂດລາ</option>";
  //   } else if (x == '02') {
  //     document.getElementById("cash_value").readOnly = false;
  //     // document.getElementById("rate_con").readOnly = false;
  //     document.getElementById("total_baht").readOnly = false;
  //     document.getElementById("bank_from").value = 'BCEL'
  //     document.getElementById("bank_from").value = 'THAI'
  //     bank_from.innerHTML = "<option value='' selected> ເລືອກ....</option><option value='SCB'>SCB ໄທພານິດ </option><option value='KB'>KB ກະສີກອນໄທ</option><option value='KTB'> KTB ກຸງເທບ</option><option value='BBL'>BBL ກຸງເທບ</option><option value='BAY'>BAY ກຸງສີ</option><option value='TMB'>TMB ທະຫານໄທ</option>"
  //     to_bank.innerHTML = "<option selected> ເລືອກ....</option><option value='BCEL' >BCEL ທະນາຄານການຄ້າ</option><option value='JDB'>JDB ທະນາຄານ ຮ່ວມພັດທະນາ</option><option value='LDB' >LDB ພັດທະນາລາວ</option>"
  //     currency_code.innerHTML = "<option value='01'>ກີບ</option><option value='00'selected >ບາດ</option> <option value='03'>ໂດລາ</option>";

  //   } else if (x == '03') {
  //     document.getElementById("cash_value").readOnly = false;
  //     // document.getElementById("rate_con").readOnly = false;
  //     document.getElementById("total_baht").readOnly = false;
  //     document.getElementById("bank_from").value = 'BCEL'
  //     document.getElementById("bank_from").value = 'BCEL'
  //     bank_from.innerHTML = "<option   value='kv' selected> ເລືອກ....</option><option value='TMB'>BCEL ກີບ</option><option value='TMB'>BCEL ບາດ</option><option value='TMB'>BCEL ໂດລາ</option>"
  //     to_bank.innerHTML = "<option selected> ເລືອກ....</option><option value='BCEL' >BCEL ທະນາຄານການຄ້າ</option><option value='JDB' >JDB ທະນາຄານ ຮ່ວມພັດທະນາ</option><option value='LDB'>LDB ພັດທະນາລາວ</option>"
  //     currency_code.innerHTML = "<option value='01' selected>ກີບ</option><option value='00' >ບາດ</option> <option value='03'>ໂດລາ</option>";
  //   } else {
  //     document.getElementById("cash_value").readOnly = true;
  //     document.getElementById("rate_con").readOnly = true;
  //     document.getElementById("total_baht").readOnly = true;

  //     bank_from.innerHTML = "<option   value='kv' selected> ເລືອກ....</option>"
  //     to_bank.innerHTML = "<option selected> ເລືອກ....</option>"
  //     currency_code.innerHTML = "<option selected> ເລືອກ....</option>";
  //   }
  // }
  function bank_ft() {
    var x = document.getElementById("bank_from").value;
    if (x == 'kv') {
      document.getElementById("bank_amount").readOnly = true;
    } else if (x == '00') {
      document.getElementById("bank_amount").readOnly = false;
      document.getElementById("rate_bank").value = '1'
    } else {
      fetch('/exchangerate/' + x).then(function (response) {
        response.json().then(function (data) {
          document.getElementById("rate_bank").value = data.rate[0]
          document.getElementById("bank_amount").readOnly = false;
        });
      });



    }
  }
  function bank_tt() {
    var x = document.getElementById("total_amount").value;
    document.getElementById("total_pays").value = x

  }
  function sum_paybybank() {
    kk = document.getElementById("bank_from").value
    if (kk == '01') {
      k1 = document.getElementById("bank_amount").value
      k2 = document.getElementById("rate_bank").value
      kx = Math.round(k1 / k2)
      document.getElementById("total_bank_amount").value = kx
    } else {
      k1 = document.getElementById("bank_amount").value
      k2 = document.getElementById("rate_bank").value
      kx = Math.round(k1 * k2)
      document.getElementById("total_bank_amount").value = kx
    }

  }


  // sweet 
  function deleteitem(id) {
    swal({
      title: 'ທ່າຍຕ້ອງການລົບຂໍ້ມູນແທ້ບໍ໋?',
      text: "ທ່ານຈະບໍ່ສາມາດຮ້ອງຄືນຂໍ້ມູນນີ້ໃດ້!",
      type: 'question',
      showCancelButton: true,
      cancelButtonColor: '#3085d6',
      confirmButtonColor: '#d33',
      confirmButtonText: 'ເຈົ້າ, ແມ່ນແລ້ວ!',
      cancelButtonText: 'ບໍ່,ກັບຄືນ!',
    }).then(function () {
      location.href = "/transfer_delete/" + id;
    })
  } ss
  function sum_paybycash() {
    kk = document.getElementById("currency_code").value
    if (kk == '01') {
      k1 = document.getElementById("cash_value").value
      k2 = document.getElementById("rate_con").value
      kx = Math.round(k1 / k2)
      document.getElementById("total_baht").value = kx
    } else {
      k1 = document.getElementById("cash_value").value
      k2 = document.getElementById("rate_con").value
      kx = Math.round(k1 * k2)
      document.getElementById("total_baht").value = kx
    }

    v1 = document.getElementById("bank_amount").value
    v2 = document.getElementById("service_charge").value
    v3 = document.getElementById("fee").value
    vx = parseFloat(kx) + parseFloat(v1) - parseFloat(v2) - parseFloat(v3)
    document.getElementById("total_amount").value = vx
  }
  function show_rate() {
    x = document.getElementById("currency_code").value
    console.log(x)
    if (x == '00') {
      document.getElementById("rate_con").value = '1'
      document.getElementById("cash_value").value = 0
      document.getElementById("total_baht").value = 0
    } else {
      fetch('/exchangerate/' + x).then(function (response) {
        response.json().then(function (data) {
          document.getElementById("rate_con").value = data.rate[0]
          document.getElementById("cash_value").value = 0
          document.getElementById("total_baht").value = 0
        });
      });
    }

  }

  function sum_back() {
    kk = document.getElementById("currency_code").value
    if (kk == '01') {
      k1 = document.getElementById("total_baht").value
      k2 = document.getElementById("rate_con").value
      kx = Math.round(k1 * k2)
      document.getElementById("cash_value").value = kx
    } else {
      k1 = document.getElementById("total_baht").value
      k2 = document.getElementById("rate_con").value
      kx = Math.round(k1 / k2)
      document.getElementById("cash_value").value = kx
    }

    v1 = document.getElementById("bank_amount").value
    v2 = document.getElementById("service_charge").value
    v3 = document.getElementById("fee").value
    vx = parseFloat(k1) + parseFloat(v1) - parseFloat(v2) - parseFloat(v3)
    document.getElementById("total_amount").value = vx
  }



</script>
{% endblock %}