{% extends "layout/layout.html" %}
{% block title %}ບໍລິສັດຂ້າມຂອງ{% endblock %}
{% block head %}
<style>
  /* .modal-dialog {

 width:1080px;

  } */

  .modal-header {

    background-color: #337AB7;

    padding: 16px 16px;

    color: #FFF;

    border-bottom: 2px dashed #337AB7;

  }

  /* 
  .bigModal {
    width: 1080px;
  } */
</style>
{{ super() }}
{% endblock %}
{% block content %}
<br>
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <center>
        <h4 style="font-weight: bold; color: white;">
          ການເຄື່ອນໃຫວການການໂອນ
        </h4>
      </center>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <center>
          <strong>{{ message }}</strong>
        </center>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <script>
        $(".alert-dismissible").fadeTo(2000, 500).fadeOut(500, function () {
          $(".alert-dismissible").alert('close');
        });
      </script>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>
    <div class="card-body" style="background-color:darkcyan;">
      <div class="row">
        <div class="col-sm-3">
          <div class="card">
            <div class="card-header">
              <center>
                ການເຄື່ອນໃຫວການການໂອນ
              </center>
            </div>
            <div class="card-body" style="background-color:darkslategrey;">
              <button type="button" class="btn btn-primary form-control" data-toggle="modal" data-target="#laothai">
                ໂອນເງິນ ລາວ-ໄທ
              </button>
              <hr>
              <button type="button" class="btn btn-primary form-control" data-toggle="modal" data-target="#thailao">
                ໂອນເງິນ ໄທ-ລາວ
              </button>
              <!-- Modal Lao Thai-->
              <div class="modal fade" id="laothai" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                  <div class="modal-content">
                    <form action="/save_lao_thai" method="post">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">
                          <b>
                            ໂອນເງິນ ລາວ-ໄທ
                          </b>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="container">
                          <center>
                            <h6>
                              <b>
                                ຂໍ້ມູນລູກຄ້າ
                              </b>
                            </h6>
                          </center>
                          <hr>
                          <div class="row">
                            <div class="col-sm-7">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">ຊື</label>
                                <input class="form-control form-control-sm " type="text" placeholder="ຊື"
                                  name="customername" style="text-align: left;" id="" required>
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">ເບີໂທ</label>
                                <input class="form-control form-control-sm " type="text" placeholder="ເບີໂທ" name="tel"
                                  style="text-align: left;" id="">
                              </div>
                            </div>
                          </div>
                          <hr>
                          <center>
                            <h6>
                              <b>
                                ທະນາຄານປາຍທາງ
                              </b>
                            </h6>
                          </center>
                          <hr>
                          <div class="row">
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">ເລືອກທະນາຄານປາຍທາງ</label>
                                <select class="form-control form-control-sm" id="to_bank" name="bank_to" required
                                  onchange="bank_tt()">
                                  <option selected value=""> ເລືອກ....</option>
                                  <option value='SCB'>SCB ໄທພານິດ </option>
                                  <option value='KB'>KB ກະສີກອນໄທ</option>
                                  <option value='KTB'> KTB ກຸງເທບ</option>
                                  <option value='BBL'>BBL ກຸງເທບ</option>
                                  <option value='BAY'>BAY ກຸງສີ</option>
                                  <option value='TMB'>TMB ທະຫານໄທ</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">ຊື່ບັນຊີ</label>
                                <input class="form-control form-control-sm " type="text" placeholder="ຊື່ບັນຊີ"
                                  name="bankaccountname" style="text-align: left;" id="">
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">ເລກບັນຊີ</label>
                                <input class="form-control form-control-sm " type="text" placeholder="ເລກບັນຊີ"
                                  name="bank_account_code" style="text-align: left;" id="">
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">ລວມມູນຄ່າທີ່ປາຍທາງໃດ້ຮັບ</label>
                                <input class="form-control form-control-sm " type="number" placeholder="0"
                                  name="total_pays" style="text-align: right;" value="0" id="total_pays"
                                  onchange="value_trans()">
                              </div>
                            </div>
                          </div>
                          <hr>
                          <center>
                            <h6>
                              <b>
                                ເງື່ອນໃຂການຮັບເງິນ
                              </b>
                            </h6>
                          </center>
                          <hr>
                          <div class="row">
                            <!-- <div class="col-sm-3">
                            </div> -->
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">ຄ່າບໍລິການ</label>
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <!-- <label for="exampleFormControlSelect1">ຄ່າບໍລິການ</label> -->
                                <input class="form-control form-control-sm" type="number" placeholder="0" value="0"
                                  name="service_charge" required style="text-align: right;" id="service_charge"
                                  onchange="add_charge();">
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">ລວມມູນຄ່າທີ່ຕ້ອງຈ່າຍ</label>
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <!-- <label for="exampleFormControlSelect1">ຄ່າບໍລິການ</label> -->
                                <input class="form-control form-control-sm" type="number" placeholder="0" value="0"
                                  name="total_befor_pay" required style="text-align: right;" id="total_befor_pay"
                                  readonly>
                              </div>
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">ສະກຸນເງິນ</label>
                                <select class="form-control form-control-sm" id="currency_code"
                                  name="cash_currency_code" onchange="show_rate()">
                                  <option selected value="">ເລືອກ...</option>
                                  <option value="01">ກີບ</option>
                                  <option value="00">ບາດ</option>
                                  <option value="03">ໂດລາ</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">ມູນຄ່າບາດ</label>
                                <input class="form-control form-control-sm" type="number" name="total_baht"
                                  style="text-align: right;" id="total_baht" value="0" onchange="sum_back()">
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">Rate</label>
                                <input class="form-control form-control-sm" type="number" name="rate_con"
                                  style="text-align: right;" id="rate_con" readonly value="0">
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">ເງິນສົດຕາມສະກູນເງິນ</label>
                                <input class="form-control form-control-sm" type="number" placeholder="0" required
                                  name="cash_value" style="text-align: right;" onchange="sum_paybycash();"
                                  id="cash_value">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">ຮັບເຂົ້າບັນຊີ</label>
                                <select class="form-control form-control-sm" id="bank_from" name="bank_from"
                                  onchange="bank_ft()">
                                  <option value="" selected> ເລືອກ....</option>
                                  {% for item in bank_from %}
                                  <option value="{{item[0]}}">{{item[1]}}</option>
                                  {% endfor %}
                                </select>
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">ມູນຄ່າບາດ</label>
                                <input class="form-control form-control-sm" type="number" value="0"
                                  name="total_bank_amount" required style="text-align: right;" id="total_bank_amount"
                                  onchange="sum_paybybank()">
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">rate</label>
                                <input class="form-control form-control-sm" type="number" placeholder="0"
                                  name="rate_bank" required style="text-align: right;" id="rate_bank">
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">ມູນຄ່າທີ່ລູກຄ້າຕ້ອງໂອນ</label>
                                <input class="form-control form-control-sm" type="number" placeholder="0"
                                  name="bank_amount" required style="text-align: right;" id="bank_amount" value="0"
                                  onchange="">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-5">
                            </div>
                            <div class="col-sm-4">
                              <label for="exampleFormControlSelect1">ລວມມູນຄ່າ</label>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <!-- <label for="exampleFormControlSelect1">ລວມມູນຄ່າ</label> -->
                                <input class="form-control form-control-sm" type="number" placeholder="0"
                                  name="total_amount" required style="text-align: right;" id="total_amount">
                              </div>
                            </div>
                          </div>
                          <hr>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">ອອກ</button>
                        <button type="submit" class="btn btn-primary">ບັນທຶກ</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <!-- Modal  Thai Lao-->
              <div class="modal fade" id="thailao" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                  <div class="modal-content">
                    <form action="/save_thai_lao" method="post">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">
                          <b>
                            ໂອນເງິນ ໄທ-ລາວ
                          </b>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="container">
                          <center>
                            <h6>
                              <b>
                                ຂໍ້ມູນລູກຄ້າ
                              </b>
                            </h6>
                          </center>
                          <hr>
                          <div class="row">
                            <div class="col-sm-7">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">ຊື</label>
                                <input class="form-control form-control-sm " type="text" placeholder="ຊື"
                                  name="customername_tl" style="text-align: left;" id="" required>
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">ເບີໂທ</label>
                                <input class="form-control form-control-sm " type="text" placeholder="ເບີໂທ"
                                  name="tel_tl" style="text-align: left;" id="">
                              </div>
                            </div>
                          </div>
                          <hr>
                          <center>
                            <h6>
                              <b>
                                ທະນາຄານທີ່ໂອນເຂົ້າ
                              </b>
                            </h6>
                          </center>
                          <hr>
                          <div class="row">
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">ເລືອກທະນາຄານ</label>
                                <select class="form-control form-control-sm" id="to_bank" name="from_bank_tl" required
                                  onchange="bank_tt()">
                                  <option selected value=""> ເລືອກ....</option>
                                  <option value='SCB'>SCB ໄທພານິດ </option>
                                  <option value='KB'>KB ກະສີກອນໄທ</option>
                                  <option value='KTB'> KTB ກຸງເທບ</option>
                                  <option value='BBL'>BBL ກຸງເທບ</option>
                                  <option value='BAY'>BAY ກຸງສີ</option>
                                  <option value='TMB'>TMB ທະຫານໄທ</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-sm-3">
                            </div>
                            <div class="col-sm-3">
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">ຍອດທີ່ໂອນມາ</label>
                                <input class="form-control form-control-sm " type="number" placeholder="0"
                                  name="total_pays" style="text-align: right;" value="0" id="trans_incom"
                                  onchange="trans_in_total()">
                              </div>
                            </div>
                          </div>
                          <hr>
                          <center>
                            <h6>
                              <b>
                                ເງື່ອນໄຂຈ່າຍເງິນ
                              </b>
                            </h6>
                          </center>
                          <hr>
                          <div class="row">
                            <!-- <div class="col-sm-3">
                          </div> -->
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">ຄ່າບໍລິການ</label>
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <!-- <label for="exampleFormControlSelect1">ຄ່າບໍລິການ</label> -->
                                <input class="form-control form-control-sm" type="number" placeholder="0" value="0"
                                  name="service_charge" required style="text-align: right;" id="service_charge_tl"
                                  onchange="trans_pass_service_tl();">
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">ລວມມູນຄ່າທີ່ຕ້ອງຈ່າຍ</label>
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <!-- <label for="exampleFormControlSelect1">ຄ່າບໍລິການ</label> -->
                                <input class="form-control form-control-sm" type="number" placeholder="0" value="0"
                                  name="total_befor_pay" required style="text-align: right;" id="total_befor_pay_tl"
                                  readonly>
                              </div>
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">ສະກຸນເງິນ</label>
                                <select class="form-control form-control-sm" id="currency_code_tl"
                                  name="cash_currency_code" onchange="show_rate_tl()">
                                  <option selected value="">ເລືອກ...</option>
                                  <option value="01">ກີບ</option>
                                  <option value="00">ບາດ</option>
                                  <option value="03">ໂດລາ</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">ມູນຄ່າບາດ</label>
                                <input class="form-control form-control-sm" type="number" name="total_baht_tl"
                                  style="text-align: right;" id="total_baht_tl" value="0" onchange="sum_cash_tl()">
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">Rate</label>
                                <input class="form-control form-control-sm" type="number" name="rate_c_tl"
                                  style="text-align: right;" id="rate_c_tl" readonly value="0">
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">ເງິນສົດຕາມສະກູນເງິນ</label>
                                <input class="form-control form-control-sm" type="number" placeholder="0" required
                                  name="cash_value_tl" style="text-align: right;" id="cash_value_tl">
                              </div>
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-sm-4">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">ຈາກບັນຊີ</label>
                                <select class="form-control form-control-sm" id="bank_from_tl" name="from_bank_pay"
                                  onchange="bank_TL()">
                                  <option value="" selected> ເລືອກ....</option>
                                  {% for item in bank_from %}
                                  <option value="{{item[0]}}">{{item[1]}}</option>
                                  {% endfor %}
                                </select>
                              </div>
                            </div>
                            <div class="col-sm-4">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">ຫາເລກບັນຊີ</label>
                                <input class="form-control form-control-sm" type="text" placeholder="ເລກບັນຊີ" name="bank_account_code"
                                  required style="text-align:left;" id="">
                              </div>
                            </div>
                            <div class="col-sm-4">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">ຊື່ບັນຊີ</label>
                                <input class="form-control form-control-sm" type="text" placeholder="ຊື່ບັນຊີ" name="bank_account_name"
                                  required style="text-align: left;" id="">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">ມູນຄ່າບາດ</label>
                                <input class="form-control form-control-sm" type="number" value="0"
                                  name="total_bank_amount_tl" required style="text-align: right;"
                                  id="total_bank_amount_tl" onchange="sum_paybybank_tl()">
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">ຄ່າທຳນຽນ</label>
                                <input class="form-control form-control-sm" type="number" value="0" name="fee_tl"
                                  required style="text-align: right;" id="fee_tl" onchange="sum_paybybank_tl()">
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">rate</label>
                                <input class="form-control form-control-sm" type="number" placeholder="0"
                                  name="rate_bank_tl" required style="text-align: right;" id="rate_bank_tl">
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label for="exampleFormControlSelect1">ມູນຄ່າທີ່ຕ້ອງໂອນ</label>
                                <input class="form-control form-control-sm" type="number" placeholder="0"
                                  name="bank_amount" required style="text-align: right;" id="bank_amount_tl" value="0"
                                  onchange="">
                              </div>
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-sm-5">
                            </div>
                            <div class="col-sm-4">
                              <label for="exampleFormControlSelect1">ລວມມູນຄ່າ</label>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <!-- <label for="exampleFormControlSelect1">ລວມມູນຄ່າ</label> -->
                                <input class="form-control form-control-sm" type="number" placeholder="0"
                                  name="total_amount_tt_tl" required style="text-align: right;" id="total_amount_tt_tl"
                                  readonly>
                              </div>
                            </div>
                          </div>
                          <hr>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">ອອກ</button>
                        <button type="submit" class="btn btn-primary">ບັນທຶກ</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="card">
            <div class="card-header">
              <center>
                ສະແດງລາຍການເຄື່ອນໃຫວ
              </center>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover table-sm table-hover" id="myTable">
                  <thead>
                    <tr>
                      <th scope="col">ວັນທີ</th>
                      <th scope="col">ເລກທີ</th>
                      <th scope="col">ລູກຄ້າ</th>
                      <th scope="col">ເບີໂທ</th>
                      <th scope="col">ຈາກ</th>
                      <th scope="col">ຫາ</th>
                      <th scope="col">ເລກບັນຊີ</th>
                      <th scope="col">ຊື່ບັນຊື</th>
                      <th scope="col">ມູນຄ່າ</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in all_rate %}
                    <tr>
                      <th style="text-align: left;">{{item[0]}}</th>
                      <td style="text-align: left;">{{item[1]}}</td>
                      <td style="text-align: left;">{{item[2]}}</td>
                      <td style="text-align: left;">{{item[3]}}</td>
                      <th style="text-align: center;">{{item[4]}}</th>
                      <td style="text-align: center;">{{item[5]}}</td>
                      <td style="text-align: right;">{{item[6]}}</td>
                      <td style="text-align: right;">{{item[7]}}</td>
                      <td style="text-align: right;">{{item[8]}}</td>
                      <td><a href="#" onclick="deleteitem({{item[1]}})"><i class="bi bi-trash-fill"
                            id="bitrash"></i></a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById("total_bank_amount").readOnly = true;
  document.getElementById("rate_bank").readOnly = true;
  document.getElementById("cash_value").readOnly = true;
  document.getElementById("rate_con").readOnly = true;
  document.getElementById("total_baht").readOnly = true;
  document.getElementById("bank_amount").readOnly = true;
  document.getElementById("total_amount").readOnly = true;

  function bank_ft() {
    var x = document.getElementById("bank_from").value;
    if (x == 'BCEL_BAHT') {
      document.getElementById("rate_bank").value = 1
      document.getElementById("bank_amount").readOnly = false;
      document.getElementById("bank_amount").value = '0'
      document.getElementById("total_bank_amount").readOnly = false;
      document.getElementById("total_bank_amount").value = '0'

    } else if (x == 'BCEL_LAK') {

      fetch('/exchangerate/01').then(function (response) {
        response.json().then(function (data) {
          document.getElementById("rate_bank").value = data.rate[0]
          document.getElementById("bank_amount").readOnly = false;
          document.getElementById("bank_amount").value = '0'
          document.getElementById("total_bank_amount").readOnly = false;
          document.getElementById("total_bank_amount").value = '0'

        });
      });
    } else if (x == 'BCEL_DOLLAR') {
      fetch('/exchangerate/03').then(function (response) {
        response.json().then(function (data) {
          document.getElementById("rate_bank").value = data.rate[0]
          document.getElementById("bank_amount").readOnly = false;
          document.getElementById("bank_amount").value = '0'
          document.getElementById("total_bank_amount").readOnly = false;
          document.getElementById("total_bank_amount").value = '0'

        });
      });
    } else {
      document.getElementById("bank_amount").readOnly = true;
      document.getElementById("total_bank_amount").readOnly = true;
    }
  }
  function bank_tt() {
    var x = document.getElementById("total_amount").value;
    document.getElementById("total_pays").value = x

  }
  // sweet 
  function deleteitem(id) {
    swal({
      title: 'ທ່າຍຕ້ອງການລົບຂໍ້ມູນແທ້ບໍ໋?',
      text: "ທ່ານຈະບໍ່ສາມາດຮ້ອງຄືນຂໍ້ມູນນີ້ໃດ້!",
      type: 'question',
      showCancelButton: true,
      cancelButtonColor: '#3085d6',
      confirmButtonColor: '#d33',
      confirmButtonText: 'ເຈົ້າ, ແມ່ນແລ້ວ!',
      cancelButtonText: 'ບໍ່,ກັບຄືນ!',
    }).then(function () {
      location.href = "/transfer_delete/" + id;
    })
  }

  function add_charge() {
    k = document.getElementById("total_pays").value
    v = document.getElementById("service_charge").value
    document.getElementById("total_befor_pay").value = parseFloat(k) + parseFloat(v)

  }
  function value_trans() {
    k = document.getElementById("total_pays").value
    v = document.getElementById("service_charge").value
    document.getElementById("total_befor_pay").value = parseFloat(k) + parseFloat(v)

  }
  function sum_paybycash() {
    kk = document.getElementById("currency_code").value
    if (kk == '01') {
      k1 = document.getElementById("cash_value").value
      k2 = document.getElementById("rate_con").value
      kx = Math.round(k1 / k2)
      document.getElementById("total_baht").value = kx
    } else {
      k1 = document.getElementById("cash_value").value
      k2 = document.getElementById("rate_con").value
      kx = Math.round(k1 * k2)
      document.getElementById("total_baht").value = kx
    }
    v1 = document.getElementById("total_bank_amount").value
    vx = parseFloat(kx) + parseFloat(v1)
    document.getElementById("total_amount").value = vx
  }
  function sum_paybybank() {
    kk = document.getElementById("bank_from").value
    if (kk == '01') {
      k1 = document.getElementById("total_bank_amount").value
      k2 = document.getElementById("rate_bank").value
      kx = Math.round(k1 / k2)
      alert("I am an alert box!");
      document.getElementById("bank_amount").value = kx
    } else {
      k1 = document.getElementById("total_bank_amount").value
      k2 = document.getElementById("rate_bank").value
      kx = Math.round(k1 * k2)
      document.getElementById("bank_amount").value = kx
    }

    v1 = document.getElementById("total_baht").value
    v2 = document.getElementById("total_bank_amount").value
    vx = parseFloat(v2) + parseFloat(v1)
    document.getElementById("total_amount").value = vx
  }
  function show_rate() {
    x = document.getElementById("currency_code").value
    if (x == '') {
      document.getElementById("rate_con").value = '1'
      document.getElementById("cash_value").value = 0
      document.getElementById("total_baht").value = 0
      document.getElementById("cash_value").readOnly = true;
      document.getElementById("total_baht").readOnly = true;
    } else if (x == '00') {
      document.getElementById("rate_con").value = '1'
      document.getElementById("cash_value").value = 0
      document.getElementById("total_baht").value = 0
      document.getElementById("cash_value").readOnly = false;
      document.getElementById("total_baht").readOnly = false;
    } else {
      fetch('/exchangerate/' + x).then(function (response) {
        response.json().then(function (data) {
          document.getElementById("rate_con").value = data.rate[0]
          document.getElementById("cash_value").value = 0
          document.getElementById("total_baht").value = 0
          document.getElementById("cash_value").readOnly = false;
          document.getElementById("total_baht").readOnly = false;
        });
      });
    }
  }

  function sum_back() {
    kk = document.getElementById("currency_code").value
    if (kk == '01') {
      k1 = document.getElementById("total_baht").value
      k2 = document.getElementById("rate_con").value
      kx = Math.ceil((k1 * k2) / 1000) * 1000
      document.getElementById("cash_value").value = kx
    } else {
      k1 = document.getElementById("total_baht").value
      k2 = document.getElementById("rate_con").value
      kx = Math.ceil(k1 / k2)
      document.getElementById("cash_value").value = kx
    }

    v1 = document.getElementById("bank_amount").value
    vx = parseFloat(k1) + parseFloat(v1)
    document.getElementById("total_amount").value = vx
  }
  // Thai to lao
  function trans_in_total() {
    v1 = document.getElementById("trans_incom").value
    k1 = document.getElementById("service_charge_tl").value
    document.getElementById("total_befor_pay_tl").value = parseFloat(v1) - parseFloat(k1)
  }
  function trans_pass_service_tl() {
    v1 = document.getElementById("trans_incom").value
    k1 = document.getElementById("service_charge_tl").value
    document.getElementById("total_befor_pay_tl").value = parseFloat(v1) - parseFloat(k1)
  }
  document.getElementById("cash_value_tl").readOnly = true;
  document.getElementById("total_baht_tl").readOnly = true;
  function show_rate_tl() {
    x = document.getElementById("currency_code_tl").value
    if (x == '') {
      document.getElementById("rate_c_tl").value = '1'
      document.getElementById("cash_value").value = 0
      document.getElementById("total_baht_tl").value = 0
      document.getElementById("cash_value_tl").readOnly = true;
      document.getElementById("total_baht_tl").readOnly = true;
    } else if (x == '00') {
      document.getElementById("rate_c_tl").value = '1'
      document.getElementById("cash_value_tl").value = 0
      document.getElementById("total_baht_tl").value = 0
      document.getElementById("cash_value_tl").readOnly = false;
      document.getElementById("total_baht_tl").readOnly = false;
    } else {
      fetch('/exchangeratesale/' + x).then(function (response) {
        response.json().then(function (data) {
          document.getElementById("rate_c_tl").value = data.rate[0]
          document.getElementById("cash_value_tl").value = 0
          document.getElementById("total_baht_tl").value = 0
          document.getElementById("cash_value_tl").readOnly = false;
          document.getElementById("total_baht_tl").readOnly = false;
        });
      });
    }

  }
  function sum_cash_tl() {
    kk = document.getElementById("currency_code_tl").value
    if (kk == '01') {
      k1 = document.getElementById("total_baht_tl").value
      k2 = document.getElementById("rate_c_tl").value
      kx = Math.ceil((k1 * k2) / 1000) * 1000
      document.getElementById("cash_value_tl").value = kx
    } else {
      k1 = document.getElementById("total_baht_tl").value
      k2 = document.getElementById("rate_c_tl").value
      kx = Math.ceil(k1 / k2)
      document.getElementById("cash_value_tl").value = kx
    }

    v1 = document.getElementById("bank_amount_tl").value
    vx = parseFloat(k1) + parseFloat(v1)
    document.getElementById("total_amount_tt_tl").value = vx
  }
  document.getElementById("bank_amount_tl").readOnly = true;
  document.getElementById("total_bank_amount_tl").readOnly = true;
  document.getElementById("rate_bank_tl").readOnly = true;
  function bank_TL() {
    var x = document.getElementById("bank_from_tl").value;
    if (x == 'BCEL_BAHT') {
      document.getElementById("rate_bank_tl").value = 1
      document.getElementById("bank_amount_tl").readOnly = false;
      document.getElementById("bank_amount_tl").value = '0'
      document.getElementById("total_bank_amount_tl").readOnly = false;
      document.getElementById("total_bank_amount_tl").value = '0'

    } else if (x == 'BCEL_LAK') {

      fetch('/exchangerate/01').then(function (response) {
        response.json().then(function (data) {
          document.getElementById("rate_bank_tl").value = data.rate[0]
          document.getElementById("bank_amount_tl").readOnly = false;
          document.getElementById("bank_amount_tl").value = '0'
          document.getElementById("total_bank_amount_tl").readOnly = false;
          document.getElementById("total_bank_amount_tl").value = '0'

        });
      });
    } else if (x == 'BCEL_DOLLAR') {
      fetch('/exchangerate/03').then(function (response) {
        response.json().then(function (data) {
          document.getElementById("rate_bank_tl").value = data.rate[0]
          document.getElementById("bank_amount_tl").readOnly = false;
          document.getElementById("bank_amount_tl").value = '0'
          document.getElementById("total_bank_amount_tl").readOnly = false;
          document.getElementById("total_bank_amount_tl").value = '0'

        });
      });
    } else {
      document.getElementById("bank_amount").readOnly = true;
      document.getElementById("total_bank_amount").readOnly = true;
    }
  }
  function sum_paybybank_tl() {
    kk = document.getElementById("bank_from_tl").value
    console.log(kk)
    if (kk == 'BCEL_BAHT') {
      k1 = parseFloat(document.getElementById("total_bank_amount_tl").value)
      k2 = parseFloat(document.getElementById("rate_bank_tl").value)
      k3 = parseFloat(document.getElementById("fee_tl").value)
      console.log(k3)
      if (k3 == 0) {
        kx = k1 / k2
      } else {
        kv = k1 + k3
        kx = kv / k2
      }
      document.getElementById("bank_amount_tl").value = kx
    } else if (kk == 'BCEL_LAK') {
      k1 = parseFloat(document.getElementById("total_bank_amount_tl").value)
      k2 = parseFloat(document.getElementById("rate_bank_tl").value)
      k3 = parseFloat(document.getElementById("fee_tl").value)
      if (k3 == 0) {
        kx = Math.round(k1 * k2)
      } else {
        kv = k1 + k3
        kx = kv * k2
      }
      document.getElementById("bank_amount_tl").value = kx
    } else if (kk == 'BCEL_DOLLAR') {
      k1 = parseFloat(document.getElementById("total_bank_amount_tl").value)
      k2 = parseFloat(document.getElementById("rate_bank_tl").value)
      k3 = parseFloat(document.getElementById("fee_tl").value)
      if (k3 == 0) {
        kx = Math.round(k1 / k2)
      } else {
        kv = k1 + k3
        keo = kv / k2
        kx = keo
      }
      document.getElementById("bank_amount_tl").value = kx
    }
    v1 = document.getElementById("total_baht_tl").value
    v2 = document.getElementById("total_bank_amount_tl").value
    v3 = document.getElementById("fee_tl").value
    vx = parseFloat(v2) + parseFloat(v1) + parseFloat(v3)
    document.getElementById("total_amount_tt_tl").value = vx
  }
</script>
{% endblock %}