{% extends "layout/layout.html" %}
{% block title %}ລະບົບ ຮ້ານແລກປ່ຽນເງິນຕາ{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<style>

</style>
<br>

<div class="container-md">
    <div class="card"
        style="border-top-left-radius: 12px;border-top-right-radius: 12px; border: 2px solid black;background-color: #0069D9;">
        <div class="card-body" style="background-color:darkcyan;border-top: 2px solid black;">
            <div class="row">
                <div class="col-sm-2">
                    <div class="card-body"
                        style="background-color: darkslategrey;border-radius: 12px;color: white; width: auto;text-align: center;">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="width: 180px;">
                          ຕັ້ງ​ໜີ້
                        </button>
                    </div>
                            </th>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-10">
                    <div class="card">
                        <div class="card-header"
                            style="text-align: center;font-weight: bold;background-color: darkslategrey; color: white;">
                            ລາຍການເຄື່ອນໃຫວ
                        </div>
                        <div class="card-body">
                            <table class="table table-hover" id="myTable">
                                <thead>
                                    <tr>
                                      <th scope="col">ລະ​ຫັດປະ​ເພດ</th>
                                      <th scope="col">​ຊື່</th>
                                      <th scope="col">​ເບີ​ໂທ</th>
                                      <th scope="col">ແຂວງ</th>
                                      <th scope="col">ເມືອງ</th>
                                      <th scope="col">ທີ່​ຢູ່</th>
                                      <th scope="col">​ໝາຍ​ເຫດ</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for item in rate_trans %}
                                    <tr>
                                      <td>{{item[0]}}</td>
                                      <td style="text-align: left;">{{item[1]}}</td>
                                      <td style="text-align: left;">{{item[2]}}</td>
                                      <td style="text-align: left;">{{item[3]}}</td>
                                      <td style="text-align: left;">{{item[4]}}</td>
                                      <td style="text-align: left;">{{item[5]}}</td>
                                      <td style="text-align: left;">{{item[6]}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="max-width: 70%;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ລາຍການເຄື່ອນໃຫວລູກໜີ້</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-hover" id="myTable">
          <thead>
              <tr>
                <th scope="col">ລະ​ຫັດປະ​ເພດ</th>
                <th scope="col">​ຊື່</th>
                <th scope="col">​ເບີ​ໂທ</th>
                <th scope="col">ແຂວງ</th>
                <th scope="col">ເມືອງ</th>
                <th scope="col">ທີ່​ຢູ່</th>
                <th scope="col">​ໝາຍ​ເຫດ</th>
                <th scope="col">Action</th>
              </tr>
          </thead>

          <tbody>
              {% for item in rate_trans %}
              <tr>
                <td>{{item[0]}}</td>
                <td style="text-align: left;">{{item[1]}}</td>
                <td style="text-align: left;">{{item[2]}}</td>
                <td style="text-align: left;">{{item[3]}}</td>
                <td style="text-align: left;">{{item[4]}}</td>
                <td style="text-align: left;">{{item[5]}}</td>
                <td style="text-align: left;">{{item[6]}}</td>
                <!-- <td style="text-align: center;"></td> -->
                <td>
                  <a href="/send_arid/{{item[0]}}"><i class="bi bi-pencil-square">ເລືອກ</i></a>
                </td>
              </tr>
               <!-- Modal -->
              <!-- Button trigger modal -->

              {% endfor %}
          </tbody>
      </table>
      </div>
    </div>
  </div>
</div>

<script>
    function deleteitem(id) {
        swal({
            title: 'ທ່າຍຕ້ອງການລົບຂໍ້ມູນແທ້ບໍ໋?',
            text: "ທ່ານຈະບໍ່ສາມາດຮ້ອງຄືນຂໍ້ມູນນີ້ໃດ້!",
            type: 'question',
            showCancelButton: true,
            cancelButtonColor: '#3085d6',
            confirmButtonColor: '#d33',
            confirmButtonText: 'ເຈົ້າ, ແມ່ນແລ້ວ!',
            cancelButtonText: 'ບໍ່,ກັບຄືນ!',
        }).then(function () {
            location.href = "/ex_delete/" + id;
        })
    }
</script>

{% endblock %}