{% extends "layout/layout.html" %}
{% block title %}ການຈັດການອັດຕາແລກປ່ຽນ{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<br>
<div class="container col-sm-12">
  <div class="card">
    <div class="card-body" style="background-color:darkcyan;padding-right: 2.4%;">
      <div class="row">
        <div class="col-sm-4">
          <div class="card" style="background-color: darkslategrey;color: white;">
            <div class="card-header">
              <center>
                ​ຕັ້ງ​ໜີ້
              </center>
              {% with messages = get_flashed_messages() %}
              {% if messages %}
              {% for message in messages %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <script>
                $(".alert-dismissible").fadeTo(2000, 500).fadeOut(500, function () {
                  $(".alert-dismissible").alert('close');
                });
              </script>
              {% endfor %}
              {% endif %}
              {% endwith %}
            </div>
            <div class="card-body">

              <form class="" action="/send_apid" method="get">
                <div class="row">
                  <div class="col-xs" style="width: 20px;margin-left: -40px;"></div>
                  <div class="col-sm-3">
                    <div class="form-group" style="text-align: right;">
                      <label for="usr">ລະຫັດ:</label>
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <div class="form-group">
                      <input type="text" class="form-control" value="{{selectapid[0]}}" disabled/>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs" style="width: 20px;margin-left: -40px;"></div>
                  <div class="col-sm-3">
                    <div class="form-group" style="text-align: right;">
                      <label for="usr">ຊື່:</label>
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <div class="form-group">
                      <input type="text" class="form-control" name="name_1" value="{{selectapid[1]}}" disabled>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs" style="width: 20px;margin-left: -40px;"></div>
                  <div class="col-sm-3">
                    <div class="form-group" style="text-align: right;">
                      <label for="usr">ເບີ​ໂທ:</label>
                    </div>

                  </div>
                  <div class="col-sm-9">
                    <div class="form-group">
                      <input type="number" class="form-control" name="tel" value="{{selectapid[2]}}" disabled>
                    </div>
                  </div>
                </div>
              </form>
              <form class="" action="/saveset_ap" method="post">
                <div class="row">
                  <div class="col-xs" style="width: 20px;margin-left: -40px;"></div>
                  <input type="text" class="form-control" value="{{selectapid[0]}}" name="codee" readonly hidden>
                </div>
                <div class="row">
                  <div class="col-xs" style="width: 20px;margin-left: -40px;"></div>
                  <div class="col-sm-3" style="text-align: right;">
                    <div class="form-group">
                      <label for="usr">ລາຍ​ການ:</label>
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <div class="form-group">
                      <input type="text" class="form-control" name="item_name">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs" style="width: 20px;margin-left: -40px;"></div>
                  <div class="col-sm-3" style="text-align: right;">
                    <div class="form-group">
                      <label for="usr">ມູນ​ຄ່າ:</label>
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <div class="form-group">
                      <input type="text" class="form-control" name="amount">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs" style="width: 20px;margin-left: -40px;"></div>
                  <div class="col-sm-3" style="text-align: right;">
                    <div class="form-group">
                      <label for="usr">ສະ​ກຸນ​ເ​ງິນ:</label>
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <div class="form-group">
                      <!-- <input type="number" class="form-control" name="currency_name"> -->
                      <select class="form-control form-control-sm " id="currency_name" name="currency_name" onchange="nextVal()">
                        {% for item in curent %}
                        <option value="{{item[1]}}">{{item[1]}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs" style="width: 20px;margin-left: -40px;"></div>
                  <div class="col-sm-3" style="text-align: right;">
                    <div class="form-group">
                      <label for="usr">ລວມ​ທັງ​ໝົດ:</label>
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <div class="form-group">
                      <input type="text" class="form-control" name="total">
                    </div>
                  </div>
                </div>

                <br>
                <center>
                  <button type="submit" class="btn btn-primary form-control" style="width: 130px;">ບັນທຶກ</button>
                  <button type="submit" class="btn btn-link form-control" style="width: 130px;">
                    <a href="/setap" class="btn btn-warning form-control form-control-sm">ຍົກ​ເລີກ</a>
                  </button>
                </center>
              </form>

            </div>

          </div>
        </div>
        <div class="col-sm-8"
          style="background-color: whitesmoke; padding-top: 10px;padding-right: 15px;border-radius: 5px;">
          <table class="table table-sm table-hover table-striped table-success" id="Ratetable">
            <thead>
              <tr>
                <th scope="col">ລະຫັດ</th>
                <th scope="col">​ຊື່</th>
                <th scope="col">​ເບີ​ໂທ</th>
                <th scope="col">ລາຍ​ການ</th>
                <th scope="col">​ມູນ​ຄ່າ</th>
                <th scope="col">​ສະ​ກຸນ​ເງິນ</th>
                <th scope="col">​ລວມ​ທັງ​ໝົດ</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for item in rate_trans %}
              <tr>
                <td style="text-align: left;">{{item[0]}}</td>
                <td style="text-align: left;">{{item[1]}}</td>
                <td style="text-align: left;">{{item[2]}}</td>
                <td style="text-align: left;">{{item[3]}}</td>
                <td style="text-align: left;">{{item[4]}}</td>
                <td style="text-align: left;">{{item[5]}}</td>
                <td style="text-align: left;">{{item[6]}}</td>
                <td><a href="#"><i class="bi bi-pencil-square" data-toggle="modal"
                      data-target="#update_set_ap/{{item[0]}}"></i></a>
                  <a href="#" onclick="deleteitem('{{item[0]}}')"><i class="bi bi-trash-fill" id="bitrash"></i></a>
                </td>
              </tr>
              <!-- Modal -->
              <div class="modal fade" id="update_set_ap/{{item[0]}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">ເເກ້ໄຂລາຍ​ລະ​ອຽດການ​ຕັ້ງ​ໜີ້</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body" style="background-color: #EFEFEF;">
                      <form class="" action="/update_set_ap/{{item[0]}}" method="post">
                        <input type="hidden" name="" value="">
                        <div class="form-group">
                          <label for="usr">ລາຍ​ການ:</label>
                          <input type="text" class="form-control" name="item_name" value="{{item[3]}}">
                        </div>
                        <div class="form-group">
                          <label for="usr">ມູນ​ຄ່າ:</label>
                          <input type="text" class="form-control" name="amount" value="{{item[4]}}">
                        </div>
                        <div class="form-group">
                          <label for="usr">ສະ​ກຸນ​ເ​ງິນ:</label>
                          <!-- <input type="number" class="form-control" name="currency_name" value="{{item[5]}}" /> -->
                          <select class="form-control form-control-sm " id="currency_name" name="currency_name" onchange="nextVal()">
                            <option selected hidden>{{item[5]}}</option>
                            {% for item in curent %}
                            <option value="{{item[1]}}">{{item[1]}}</option>
                            {% endfor %}
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="usr">ລວມ​ທັງ​ໝົດ:</label>
                          <input type="text" class="form-control" name="total" value="{{item[6]}}" />
                        </div>

                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">ຍົກເລີກ</button>
                          <button type="submit" id="" class="btn btn-primary"><i class="bi bi-save"></i>
                            ບັນທຶກ</button>
                        </div>
                      </form>

                    </div>
                  </div>
                </div>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function deleteitem(id) {
    swal({
      title: 'ທ່ານຕ້ອງການລົບຂໍ້ມູນແທ້ບໍ໋?',
      text: "ທ່ານຈະບໍ່ສາມາດຮ້ອງຄືນຂໍ້ມູນນີ້ໃດ້!",
      type: 'question',
      showCancelButton: true,
      cancelButtonColor: '#3085d6',
      confirmButtonColor: '#d33',
      confirmButtonText: 'ເຈົ້າ, ແມ່ນແລ້ວ!',
      cancelButtonText: 'ບໍ່,ກັບຄືນ!',
    }).then(function () {
      location.href = "/set_ap_delete/" + id;
    })
  }

  function nextVal(){
    x = document.getElementById("currency_name").value;
    fetch('neVal/' + x).then(function (response) {
            response.json().then(function (data) {
                optionHTML = '';
                for (curs of data.curency) {
                    optionHTML += "<option value='" + curs[1] + "'>" + curs[1] + "</option>"
                }
                curency_name2.innerHTML = optionHTML;
            });
        });
  }
</script>
{% endblock %}