{% extends "layout/layout.html" %}
{% block title %}ລະບົບ ຮ້ານແລກປ່ຽນເງິນຕາ{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<style>

</style>
<br>

<div class="container-md">
    <div class="card"
        style="border-top-left-radius: 12px;border-top-right-radius: 12px; border: 2px solid black;background-color: #0069D9;">
        <h5 class="card-header" style="font-weight: bold; color: white;">
            <center>ການແລກປ່ຽນເງິນຕາ</center>
        </h5>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <center>
                <strong>{{ message }}</strong>
            </center>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <script>
            $(".alert-dismissible").fadeTo(2000, 500).fadeOut(500, function () {
                $(".alert-dismissible").alert('close');
            });
        </script>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="card-body" style="background-color:darkcyan;border-top: 2px solid black;">
            <div class="row">
                <div class="col-sm-2">
                    <!-- <div class="card-header text-primary">
                            <center>ການແລກປ່ຽນເງິນຕາ</center>
                            <a href="/listeexch" class="btn btn-sucess"> ເລືອກລາຍການ</a>
                        </div> -->
                    <div class="col-sm-2 mb-2">
                            <div class="card-body"
                                style="border-radius: 12px;color: white;text-align: center;padding: 3px;margin: 8px;">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="width: 160px;height: 55px;border-bottom: 5px solid #0069D9;background-color: #007BFF; border-radius: 50px;">
                                  <a href="/sale" style="color: white;text-decoration: none;"><i class="bi bi-receipt" style="padding: 3px;color: white;"></i><b>ຊື້-ຂາຍເງິນຕາ</b></a>
                                </button>
                            </div>
                    </div>

                    <hr>
                    <div class="card"
                            style="background-color: #DDDDDD; border-radius: 12px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                            <div class="card-body">
                                <table style="width:100%; border-radius: 12px;overflow: hidden;" id="dd">
                                    <tr>
                                        <th>
                                            <center>
                                                <h5>
                                                    <b>
                                                        ອັດຕາແລກປ່ຽນປະຈຳວັນ
                                                    </b>
                                                </h5>
                                            </center>
                                            <table class="table table-sm table-hover table-bordered"
                                                style="background-color: #FFF;border-radius: 12px; border: 1px solid black;overflow: hidden;">
                                                <tr>
                                                    <th scope="col"
                                                        style="text-align: center;font-size: 10pt;font-weight: bold;background-color: #2F4F4F; color: white;">ລະຫັດ</th>
                                                    <th scope="col"
                                                        style="text-align: center;font-size: 10pt;font-weight: bold;background-color: #2F4F4F; color: white;">ສະກຸນເງິນ</th>
                                                    <th scope="col"
                                                        style="text-align: center;font-size: 10pt;font-weight: bold;background-color: #2F4F4F; color: white;">ຊື້</th>
                                                    <th scope="col"
                                                        style="text-align: center;font-size: 10pt;font-weight: bold;background-color: #2F4F4F; color: white;">ຂາຍ</th>
                                                </tr>
                                                <tbody>
                                                    {% for item in rate_ %}
                                                    <tr>
                                                        <td style="text-align: center;font-size: 10pt;">{{item[0]}}</td>
                                                        <td style="text-align: left;font-size: 10pt;">{{item[1]}}</td>
                                                        <td style="text-align: right;font-size: 10pt;background-color: #ff9eae;">{{item[2]}}</td>
                                                        <td style="text-align: right;font-size: 10pt;background-color: #91ff6f;">{{item[3]}}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </th>
                                    </tr>
                                </table>
                            </div>
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="card">
                        <div class="card-header"
                            style="text-align: center;font-weight: bold;background-color: darkslategrey; color: white;">
                            ລາຍການເຄື່ອນໃຫວ
                        </div>
                        <div class="card-body">
                            <table class="table table-hover" id="myTable">
                                <thead>
                                    <tr>
                                        <th scope="col">ວັນ/ເວລາ</th>
                                        <th scope="col">ເລກທີ</th>
                                        <th scope="col">ຊື່ລູກຄ້າ</th>
                                        <th scope="col">ເບີໂທ</th>
                                        <th scope="col">ສະກຸນເງິນຮັບ</th>
                                        <th scope="col">ມູນຄ່າ</th>
                                        <th scope="col">ອັດຕາແລກປ່ຽນ</th>
                                        <th scope="col">ສະກຸນເງິນຈ່າຍ</th>
                                        <th scope="col">ມູນຄ່າ</th>
                                        <th scope="col">ເບີ່ງ</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for item in rate_trans %}
                                    <tr>
                                        <td style="text-align: left;">{{item[0]}}</td>
                                        <td style="text-align: left;">{{item[1]}}</td>
                                        <td style="text-align: left;">{{item[2]}}</td>
                                        <td style="text-align: left;">{{item[3]}}</td>
                                        <td style="text-align: center;">{{item[4]}}</td>
                                        <td style="text-align: right;">{{item[5]}}</td>
                                        <td style="text-align: right;">{{item[6]}}</td>
                                        <td style="text-align: center;">{{item[7]}}</td>
                                        <td style="text-align: right;">{{item[8]}}</td>
                                        <td style="text-align: center;">
                                            {% if user == 'admin' %}
                                            <a href="#" onclick="deleteitem('{{item[1]}}')"><i class="bi bi-trash-fill"
                                                    id="bitrash"></i></a>
                                            {% endif %}
                                            <!-- <a href="/showex_detail/{{item[1]}} "
                                             ><i class="bi bi-eye-fill"></i></a> -->

                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function fncSum() {
        vieng = document.getElementById("ex_1").value
        keo = document.getElementById("ex_2").value
        if (vieng == 'K' && keo == 'B' || vieng == 'K' && keo == 'D' || vieng == 'B' && keo == 'D') {
            x = Math.round(parseFloat(document.getElementById("vale_tt").value) / parseFloat(document.getElementById("rate_show").value))
            document.getElementById("total_pay").value = x
        } else {
            x = Math.round(parseFloat(document.getElementById("vale_tt").value) * parseFloat(document.getElementById("rate_show").value))
            document.getElementById("total_pay").value = x

        }

    }
    function sum_b() {
        k1 = document.getElementById("ex_1").value
        keo = document.getElementById("ex_2").value
        if (k1 == 'K' && k2 == 'B' || k1 == 'K' && k2 == 'D' || k1 == 'B' && k2 == 'D') {
            x = Math.round(parseFloat(document.getElementById("total_pay").value) / parseFloat(document.getElementById("rate_show").value))
            document.getElementById("vale_tt").value = x
        } else {
            x = Math.round(parseFloat(document.getElementById("total_pay").value) * parseFloat(document.getElementById("rate_show").value))
            document.getElementById("vale_tt").value = x

        }

    }
    function fnshowrate() {
        x = document.getElementById("rate_code").value

        console.log(x)
        fetch('/product/' + x).then(function (response) {
            response.json().then(function (data) {
                document.getElementById("rate_show").value = data.product[0]
                document.getElementById("ex_1").value = data.product[1]
                document.getElementById("ex_2").value = data.product[2]
                document.getElementById("vale_tt").value = ''
            });
        });


    }
    function recivetype_() {
        x = document.getElementById("recive_type").value
        console.log(x)
        if (x == '02') {
            rc_bank_trans.innerHTML = "<option value='BCEL' >BCEL ທະນາຄານການຄ້າ</option><option value='JDB'>JDB ທະນາຄານ ຮ່ວມພັດທະນາ</option><option value='LDB' >LDB ພັດທະນາລາວ</option>"
        } else if (x == '01') {
            rc_bank_trans.innerHTML = "<option value='' ></option>"

        }

    }
    function paytype_() {
        x = document.getElementById("paytype").value
        if (x == '02') {
            bank_pay.innerHTML = "<option value='BCEL' >BCEL ທະນາຄານການຄ້າ</option><option value='JDB'>JDB ທະນາຄານ ຮ່ວມພັດທະນາ</option><option value='LDB' >LDB ພັດທະນາລາວ</option>"
        } else if (x == '01') {
            bank_pay.innerHTML = "<option value='' ></option>"
        }

    }
    // sweet 
    function deleteitem(id) {
        swal({
            title: 'ທ່າຍຕ້ອງການລົບຂໍ້ມູນແທ້ບໍ໋?',
            text: "ທ່ານຈະບໍ່ສາມາດຮ້ອງຄືນຂໍ້ມູນນີ້ໃດ້!",
            type: 'question',
            showCancelButton: true,
            cancelButtonColor: '#3085d6',
            confirmButtonColor: '#d33',
            confirmButtonText: 'ເຈົ້າ, ແມ່ນແລ້ວ!',
            cancelButtonText: 'ບໍ່,ກັບຄືນ!',
        }).then(function () {
            location.href = "/ex_delete/" + id;
        })
    }
</script>

{% endblock %}