{% extends "layout/layout.html" %}
{% block title %}ບໍລິສັດຂ້າມຂອງ{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="card">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <a class="btn btn-primary btn-lg btn-block" href="#" role="button">ກີບ</a>
                </div>
                <div class="col-sm">
                    <a class="btn btn-primary btn-lg btn-block" href="#" role="button">ບາດ</a>
                </div>
                <div class="col-sm">
                    <a class="btn btn-primary btn-lg btn-block" href="#" role="button">ໂດລາ</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}