{% extends "layout/layout.html" %}
{% block title %}ຊື້ຂາຍເງິນຕາ{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<br>
<div class="container">
    <div class="card">
        <div class="card-header" style="background-color: darkcyan;height: 45px;">
            <center>
                <h4 style="font-weight: bold; color: white;">
                    ຊື້-ຂາຍເງິນຕາ
                </h4>
            </center>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <center>
                    <strong>{{ message }}</strong>
                </center>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <script>
                $(".alert-dismissible").fadeTo(2000, 500).fadeOut(500, function () {
                    $(".alert-dismissible").alert('close');
                });
            </script>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <div class="card-body" style="background-color: #8DCBCB;color: white">
            <form action="/xchange_trans" method="post">
                <div class="container">
                      <div style="background-color: #008B8B; border-radius: 8px; margin-top: -10px;">
                      <div style="text-align: center;background-color: #2F4F4F;height: 25px;padding-left: 5px;padding-right: 5px;padding-top: 2px;">
                        <h6>
                          <b>
                            ຂໍ້ມູນລູກຄ້າ
                          </b>
                        </h6>
                      </div>
                      <!-- <hr> -->
                      <div class="row" style="margin-bottom: 15px; padding-top: 20px;border-radius: 8px;margin-left: 15px;margin-right:50px;">
                        <div class="col-sm-1">
                          <div class="form-group text-white" style="text-align: right;">
                            <label for="exampleFormControlSelect1">ຊື່</label>
                          </div>
                        </div>
                        <div class="col-sm-5">
                          <div class="form-group">
                            <!-- <label for="exampleFormControlSelect1">ຄ່າບໍລິການ</label> -->
                            <input class="form-control form-control-sm" type="text" name="customername"
                                style="text-align: left;" id="customername" placeholder="ຊື່" onchange="" required>
                          </div>
                        </div>

                        <div class="col-sm-1">
                          <div class="form-group text-white" style="text-align: right;">
                            <label for="exampleFormControlSelect1">ເບີໂທ</label>
                          </div>
                        </div>
                        <div class="col-sm-5">
                          <div class="form-group">
                            <!-- <label for="exampleFormControlSelect1">ຄ່າບໍລິການ</label> -->
                            <input class="form-control form-control-sm" type="text" name="tel" style="text-align: left;"
                                id="tel" placeholder="ເບີໂທ" onchange="" required>
                          </div>
                        </div>
                      </div>
                      </div>
                      <div style="background-color: #008B8B; border-radius: 8px;margin-top: -10px;">
                        <div style="text-align: center;background-color: #2F4F4F; color: white;height: 25px;padding-left: 5px;padding-right: 5px;padding-top: 2px;">
                          <h6>
                            <b>
                              ເງື່ອນໃຂການຮັບເງິນ
                            </b>
                          </h6>
                        </div>
                        <div class="row" style="margin-bottom: -20px; padding-top: 5px;border-radius: 8px;margin-left: 50px;margin-right: 50px;">
                            <div class="col-xs" style="margin-left: 36px"></div>
                            <div class="col-xs-2">
                                    <label for="exampleFormControlSelect1">ສະກຸນເງິນ</label>
                            </div>
                            
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <select class="form-control form-control-sm" id="main_cur" name="currency_code_tl"
                                        onchange="main_currency()">
                                        <option selected value="">ເລືອກ...</option>
                                        <option value="01">ກີບ</option>
                                        <option value="00">ບາດ</option>
                                        <option value="03">ໂດລາ</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-sm">
                            </div>

                            <div class="col-xs-2">
                                <label for="exampleFormControlSelect1" style="color:#ffff00"><b>Rate</b></label>
                            </div>
                            <div class="col-sm-2" style="text-align: center;">
                                <div class="form-group">
                                    <input class="form-control form-control-sm" type="number" name="rate"
                                        style="text-align: right;color: red;" id="rate" readonly value="0">
                                </div>
                            </div>

                        </div>
                        <hr>
                        <div class="row" style="margin-bottom: 2px; padding-top: 0px;border-radius: 8px;margin-left: 50px;margin-right: 50px;margin-top: 0px;justify-content: flex-end;">
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">ເງິນສົດ</label>
                                </div>
                            </div>
                            
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input class="form-control form-control-sm" type="number" name="cash_recipt"
                                        style="text-align: right;" id="cash_recipt" value="0" onchange="cash_in_sum()">
                                </div>
                            </div>
                            <!-- <div class="col-sm-3">
        
                            </div>
                            <div class="col-sm-3">
                            </div>
                            <div class="col-sm-3">
                            </div> -->
                        </div>
                        
                        <div class="row" style="margin-bottom: 5px; padding-top: 0px;border-radius: 8px;margin-left: 50px;margin-right: 50px;margin-top: -10px;justify-content: flex-end;">
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">ໂອນເຂົ້າບັນຊີ</label>
                                </div>
                            </div>
                            
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <select class="form-control form-control-sm" id="trans_in" name="trans_in" onchange="">
                                        <option value="" selected> ເລືອກ....</option>
                                        {% for item in bank_from %}
                                        <option value="{{item[0]}}">{{item[1]}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs" style="margin-left: 34px"></div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">ມູນຄ່າ</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input class="form-control form-control-sm" type="number" value="0" name="bank_amount"
                                        required style="text-align: right;" id="bank_amount" onchange="cash_in_sum()">
                                </div>
                            </div>

                            <div class="col-xs" style="width: 15px;"></div>

                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">ຍອດລວມ</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input class="form-control form-control-sm" type="number" value="0" name="total_amount1"
                                required style="text-align: right;" id="total_amount1" onchange="">
                                </div>
                            </div>
                        </div>
                     </div>
                        
                        <div style="background-color: #008B8B; border-radius: 8px;margin-bottom: -40px;">
                        <div style="text-align: center;background-color: #2F4F4F; color: white;height: 25px;padding-left: 5px;padding-right: 5px;padding-top: 2px;">
                            <h6>
                              <b>
                                ເງື່ອນໄຂການຈ່າຍເງິນ
                              </b>
                            </h6>
                          </div>
                        <div class="row" style="margin-bottom: -20px; padding-top: 10px;border-radius: 8px;margin-left: 50px;margin-right: 50px;">
                            <div class="col-xs" style="margin-left: 36px"></div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">ສະກຸນເງິນ</label>
                                </div>
                            </div>
                            
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <select class="form-control form-control-sm" id="second_cur" name="second_cur"
                                        onchange="showrate()">
                                        <option selected value="">ເລືອກ...</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm">
                            </div>

                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">ລວມທັງໝົດ</label>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input class="form-control form-control-sm" type="number" placeholder="0"
                                        name="total_amount3" required style="text-align: right;" id="total_amount3" value="0"
                                        onchange="total_pay()">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row" style="margin-bottom: 0px; padding-top: 0px;border-radius: 8px;margin-left: 50px;margin-right: 50px;margin-top: 10px;justify-content: flex-end;">
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">ເງິນສົດ</label>
                                </div>
                            </div>
                            
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input class="form-control form-control-sm" type="number" name="cash_pay"
                                style="text-align: right;" id="cash_pay" value="0" onchange="total_pay()">
                                </div>
                            </div>
                            <!-- <div class="col-sm-3">
        
                            </div>
                            <div class="col-sm-3">
                            </div>
                            <div class="col-sm-3">
                            </div> -->
                        </div>
                        
                        <div class="row" style="margin-bottom: 0px; padding-top: 0px;margin-left: 50px;margin-right: 50px;justify-content: flex-end;">
                            <div class="col-xs">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">ຈາກບັນຊີ</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <select class="form-control form-control-sm" id="bank_pay" name="bank_pay"
                                        onchange="bank_TL()">
                                        <option value="" selected> ເລືອກ....</option>
                                        {% for item in bank_from %}
                                        <option value="{{item[0]}}">{{item[1]}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">ຫາເລກບັນຊີ</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input class="form-control form-control-sm" type="text" placeholder="ເລກບັນຊີ"
                                        name="bank_account_code" style="text-align:left;" id="bank_account_code">
                                </div>
                            </div>

                            <div class="col-xs" style="width: 33px;"></div>

                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">ຊື່ບັນຊີ</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input class="form-control form-control-sm" type="text" placeholder="ຊື່ບັນຊີ"
                                        name="bank_account_name" style="text-align: left;" id="bank_account_name">
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 15px; padding-top: 0px;border-radius: 8px;margin-left: 50px;margin-right: 50px;justify-content: flex-end;">
                            <div class="col-xs">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">ມູນຄ່າ</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input class="form-control form-control-sm" type="number" value="0" name="bank_pay_amount"
                                    required style="text-align: right;" id="bank_pay_amount"
                                    onchange="total_pay()">
                                </div>
                            </div>

                            <div class="col-xs" style="width: 10px;"></div>

                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">ຄ່າທຳນຽມ</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input class="form-control form-control-sm" type="number" value="0" name="fee" required
                                    style="text-align: right;" id="fee" onchange="total_pay()">
                                </div>
                            </div>

                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">ລວມທັງໝົດ</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input class="form-control form-control-sm" type="number" placeholder="0"
                                        name="total_amount2" required style="text-align: right;" id="total_amount2" value="0"
                                        onchange="total_back()">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <hr>
                    <br>
                    <div class="row" style="margin-top: -30px;margin-bottom: -30px;">
                        <div class="col-sm-4">
    
                        </div>
                        <div class="col-sm-4">
    
                        </div>
                        <div class="col-sm-2">
                            <a href="/homeex" class="btn btn-warning form-control form-control-sm">ອອກ</a>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-success form-control form-control-sm" type="submit">ບັນທຶກ</button>
                        </div>
                    </div>
                    <br>
                </div>
            </div>  
            </form>
    </div>
</div>
</div>
<script>
    function main_currency() {
        kk = document.getElementById("main_cur").value
        if (kk == '00') {
            second_cur.innerHTML = "<option value='' selected> ເລືອກ....</option><option value='01' >ກີບ</option><option value='02'>ໂດລາ</option>"
        } else if (kk == '01') {
            second_cur.innerHTML = "<option value='' selected> ເລືອກ....</option><option value='00' >ບາດ</option><option value='02'>ໂດລາ</option>"
        } else {
            second_cur.innerHTML = "<option value='' selected> ເລືອກ....</option><option value='00' >ບາດ</option><option value='01'>ກີບ</option>"
        }
    }
    function showrate() {
        kk = document.getElementById("main_cur").value
        vv = document.getElementById("second_cur").value
        kv = kk + '/' + vv;
        let a = '';
        fetch('/product/' + kv).then(function (response) {
            response.json().then(function (data) {
                document.getElementById("rate").value = data.product[0]
                a = data.product[0]
                console.log(a)
                if (kk == '00' && vv == '01') {
                    kv = parseFloat(document.getElementById("total_amount1").value)
                    document.getElementById("total_amount2").value = Math.floor(kv * a)
                } else if (kk == '01' && vv == '00') {
                    kv = parseFloat(document.getElementById("total_amount1").value)
                    document.getElementById("total_amount2").value = Math.floor(kv / a)
                } else if (kk == '01' && vv == '02') {
                    kv = parseFloat(document.getElementById("total_amount1").value)
                    document.getElementById("total_amount2").value = Math.floor(kv / a)
                } else if (kk == '02' && vv == '01') {
                    kv = parseFloat(document.getElementById("total_amount1").value)
                    document.getElementById("total_amount2").value = Math.floor(kv * a)
                } else if (kk == '00' && vv == '02') {
                    kv = parseFloat(document.getElementById("total_amount1").value)
                    document.getElementById("total_amount2").value = Math.floor(kv / a)
                } else {
                    kv = parseFloat(document.getElementById("total_amount1").value)
                    document.getElementById("total_amount2").value = kv * a
                }
            });
        });
    }
    function cash_in_sum() {
        kk = document.getElementById("main_cur").value
        vv = document.getElementById("second_cur").value
        if (kk == '00' && vv == '01') {
            k = parseFloat(document.getElementById("cash_recipt").value)
            v = parseFloat(document.getElementById("bank_amount").value)
            kv = k + v
            document.getElementById("total_amount1").value = kv
            kx = parseFloat(document.getElementById("rate").value)
            document.getElementById("total_amount2").value = Math.floor(kv * kx)
        } else if (kk == '01' && vv == '00') {
            k = parseFloat(document.getElementById("cash_recipt").value)
            v = parseFloat(document.getElementById("bank_amount").value)
            kv = k + v
            document.getElementById("total_amount1").value = kv
            kx = parseFloat(document.getElementById("rate").value)
            document.getElementById("total_amount2").value = Math.floor(kv / kx)
        } else if (kk == '01' && vv == '02') {
            k = parseFloat(document.getElementById("cash_recipt").value)
            v = parseFloat(document.getElementById("bank_amount").value)
            kv = k + v
            document.getElementById("total_amount1").value = kv
            kx = parseFloat(document.getElementById("rate").value)
            document.getElementById("total_amount2").value = Math.floor(kv / kx)
        } else if (kk == '02' && vv == '01') {
            k = parseFloat(document.getElementById("cash_recipt").value)
            v = parseFloat(document.getElementById("bank_amount").value)
            kv = k + v
            document.getElementById("total_amount1").value = kv
            kx = parseFloat(document.getElementById("rate").value)
            document.getElementById("total_amount2").value = Math.floor(kv * kx)
        } else if (kk == '00' && vv == '02') {
            k = parseFloat(document.getElementById("cash_recipt").value)
            v = parseFloat(document.getElementById("bank_amount").value)
            kv = k + v
            document.getElementById("total_amount1").value = kv
            kx = parseFloat(document.getElementById("rate").value)
            document.getElementById("total_amount2").value = Math.floor(kv / kx)
        } else {
            k = parseFloat(document.getElementById("cash_recipt").value)
            v = parseFloat(document.getElementById("bank_amount").value)
            kv = k + v
            document.getElementById("total_amount1").value = kv
            kx = parseFloat(document.getElementById("rate").value)
            document.getElementById("total_amount2").value = Math.floor(kv * kx)
        }
    }
    function total_back() {

        kk = document.getElementById("main_cur").value
        vv = document.getElementById("second_cur").value
        // console.log(kk,vv)
        // console.log(document.getElementById("total_amount2").value)
        if (kk == '00' && vv == '01') {
            kv = parseFloat(document.getElementById("total_amount2").value)
            kx = parseFloat(document.getElementById("rate").value)
            document.getElementById("total_amount1").value = Math.floor(kv / kx)
        } else if (kk == '01' && vv == '00') {
            kv = parseFloat(document.getElementById("total_amount2").value)
            kx = parseFloat(document.getElementById("rate").value)
            document.getElementById("total_amount1").value = Math.floor(kv * kx)
        } else if (kk == '01' && vv == '02') {
            kv = parseFloat(document.getElementById("total_amount2").value)
            kx = parseFloat(document.getElementById("rate").value)
            document.getElementById("total_amount1").value = Math.floor(kv * kx)
        } else if (kk == '02' && vv == '01') {
            kv = parseFloat(document.getElementById("total_amount2").value)
            kx = parseFloat(document.getElementById("rate").value)
            document.getElementById("total_amount1").value = Math.floor(kv / kx)
        } else if (kk == '00' && vv == '02') {
            kv = parseFloat(document.getElementById("total_amount2").value)
            kx = parseFloat(document.getElementById("rate").value)
            document.getElementById("total_amount1").value = Math.floor(kv * kx)
        } else {
            kv = parseFloat(document.getElementById("total_amount2").value)
            kx = parseFloat(document.getElementById("rate").value)
            document.getElementById("total_amount1").value = Math.floor(kv / kx)
        }
    }
    function total_pay() {
        k1 = parseFloat(document.getElementById("cash_pay").value)
        k2 = parseFloat(document.getElementById("bank_pay_amount").value)
        k3 = parseFloat(document.getElementById("fee").value)
        kx = k1 + k2 + k3
        document.getElementById("total_amount3").value = kx
    }

</script>
{% endblock %}