{% extends "layout/layout.html" %}
{% block title %}ໜ້າຫຼັກ-{{user}}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<br>
<div class="container">
    <div class="card" style="background-color: darkslategrey;">
        <div class="card-body">
            <div class="container">
                <center>
                    <div class="row">
                        <div class="col-sm">
                            <!-- <button type="button" class="btn btn-primary btn-lg btn-block"></button> -->
                            <a class="btn btn-primary btn-lg btn-block" href="/homeex" role="button"
                                style="font-size: 30px;">ຊື້-ຂາຍເງິນຕາ</a>
                        </div>
                        <div class="col-sm">
                            <a class="btn btn-primary btn-lg btn-block" href="/hometf" role="button"
                                style="font-size: 30px;">ໂອນເງິນ</a>
                        </div>
                        <div class="col-sm">
                            {% if user == 'admin' %}
                            <a class="btn btn-primary btn-lg btn-block" href="/homestock" role="button"
                                style="font-size: 30px;">ຄັງເງິນ</a>
                            {% else %}
                            <button type="button" class="btn btn-secondary btn-lg  btn-block" disabled
                                style="font-size: 30px;">ຄັງເງິນ</button>
                            {% endif %}
                        </div>
                    </div>
                </center>
            </div>
        </div>
    </div>
    <div class="card" style="background-color: black;">
        <div class="card-body" style="background-color: darkcyan;">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="card"
                            style="background-color: #0694CD; border-radius: 12px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                            <div class="card-body">
                                <table style="width:100%; border-radius: 12px;overflow: hidden;" id="dd">
                                    <tr>
                                        <th>
                                            <center>
                                                <h5>
                                                    <b>
                                                        ອັດຕາແລກປ່ຽນປະຈຳວັນ
                                                    </b>
                                                </h5>
                                            </center>
                                            <table class="table table-sm table-hover table-bordered"
                                                style="background-color: antiquewhite;border-radius: 12px; border: 1px solid black;overflow: hidden;">
                                                <tr>
                                                    <th scope="col"
                                                        style="text-align: center;font-size: 10pt;font-weight: bold;background-color: #755D03;">ລະຫັດ</th>
                                                    <th scope="col"
                                                        style="text-align: center;font-size: 10pt;font-weight: bold;background-color: #755D03;">ສະກຸນເງິນ</th>
                                                    <th scope="col"
                                                        style="text-align: center;font-size: 10pt;font-weight: bold;background-color: #755D03;">ຊື້</th>
                                                    <th scope="col"
                                                        style="text-align: center;font-size: 10pt;font-weight: bold;background-color: #755D03;">ຂາຍ</th>
                                                </tr>
                                                <tbody>
                                                    {% for item in rate_ %}
                                                    <tr>
                                                        <td style="text-align: center;font-size: 10pt;">{{item[0]}}</td>
                                                        <td style="text-align: left;font-size: 10pt;">{{item[1]}}</td>
                                                        <td style="text-align: right;font-size: 10pt;">{{item[2]}}</td>
                                                        <td style="text-align: right;font-size: 10pt;">{{item[3]}}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                    </div>
                    <div class="col-sm">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}