{% extends "layout/layout.html" %}
{% block title %}ໜ້າຫຼັກ{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<br>
<div class="container">
    <div class="card" style="background-color: darkslategrey;">
        <div class="card-body">
            <div class="container">
                <center>
                    <div class="row">
                        <div class="col-sm">
                            <!-- <button type="button" class="btn btn-primary btn-lg btn-block"></button> -->
                            <a class="btn btn-primary btn-lg btn-block" href="/homeex" role="button" style="font-size: 30px;">ຊື້-ຂາຍເງິນຕາ</a>
                        </div>
                        <div class="col-sm">
                            <a class="btn btn-primary btn-lg btn-block" href="/hometf" role="button" style="font-size: 30px;">ໂອນເງິນ</a>
                        </div>
                        <div class="col-sm">
                            <a class="btn btn-primary btn-lg btn-block" href="#" role="button" style="font-size: 30px;">ຄັງເງິນ</a>
                            <!-- <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button> -->
                        </div>
                    </div>
                </center>
            </div>
        </div>
    </div>
    <div class="card" style="background-color: black;">
        <div class="card-body" style="background-color: darkcyan;">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <table style="width:100%; background-color: white;border-radius: 12px;">
                            <tr>
                                <th>
                                    <center>
                                        <h5>ອັດຕາແລກປ່ຽນປະຈຳວັນ</h5>
                                    </center>
                                    <table class="table table-sm table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">ລະຫັດ</th>
                                                <th scope="col">ສະກຸນເງິນ</th>
                                                <th scope="col">ຊື້</th>
                                                <th scope="col">ຂາຍ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in rate_ %}
                                            <tr>
                                                <td style="text-align: right;">{{item[0]}}</td>
                                                <td style="text-align: left;">{{item[1]}}</td>
                                                <td style="text-align: right;">{{item[2]}}</td>
                                                <td style="text-align: right;">{{item[2]}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </th>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm">

                    </div>
                    <div class="col-sm">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


jinja template